@{
    ViewBag.Title = "Home Page";
}

<header class="masthead bg-secondary text-white">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <h2 class="page-section-heading d-inline-block text-white">@ViewBag.Message</h2>
        </div>
        <div class="searchbar">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <input class="search_input" id="SearchString" type="text" name="SearchString" placeholder="Wpisz miasto w którym szukasz pomocy...">
                <button type="submit" value="Filter" class="search_icon btn">
                    <i class="fas fa-search"></i>
                </button>
            }
        </div>

    </div>
</header>

<section class="page-section portfolio">
   
</section>

<section class="page-section bg-primary text-white mb-0">
    <div class="container">
        <!-- About Section Heading-->
        <div class="row justify-content-center mb-5">
            <h2 class="page-section-heading d-inline-block text-white">PROJEKT</h2>
        </div>

        <br />
        <div class="row">
            <p class="mx-5 text-center">Celem projektu jest stworzenie systemu dla małych firm zajmujących się mechaniką samochodową pozwalający firmie na obsługę zleceń tzn. ich przyjmowanie, aktualizację czy pośredni kontakt z klientem. Klientowi zaś będzie pozwalał na zlecenie usługi, pośrednią interakcję z firmą oraz monitorowanie stanu usługi.</p>
        </div>

    </div>
</section>

<section class="page-section">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="row justify-content-center mb-5">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">ZESPÓŁ</h2>
        </div>

        <div class="mt-5 row">
            <div class="col-lg-6 text-center">
                <img class="mb-2 img-fluid rounded-circle" src="~/Content/img/sp.jpg" width="200" />
                <h3>Stanisław Posmyk</h3>
                <p>Frontend</p>

            </div>
            <div class="col-lg-6 text-center">
                <img class="mb-2 img-fluid rounded-circle" src="~/Content/img/pk.jpg" width="200" />
                <h3>Patryk Kaszubowski</h3>
                <p>Backend</p>
            </div>
        </div>
    </div>
</section>

<section class="footer text-center">
    <div class="container mb-5">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4"></h4>

            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4"></h4>
            </div>
        </div>
    </div>
</section>
