@{
    ViewBag.Title = "Home Page";
}

<header class="masthead bg-primary text-white">
    <div class="container h-100">
        <div class="row justify-content-center mb-5">
            <h2 class="page-section-heading d-inline-block text-white">@ViewBag.Message</h2>
        </div>
        <br />
        <div class="justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Wpisz miasto w którym szukasz pomocy...">
                <a href="@Url.Action("Search", "Home")" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</header>

<section class="page-section portfolio">
    <div class="container">


        <div class="row justify-content-center mb-5">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">WARSZTATY</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card shadow">
                    <img class="card-img" src="http://maxi-service.pl/wp-content/uploads/2016/10/mechanik-serwis-warsztat.jpg" alt="Vans">
                    <div class="card-img-overlay d-flex justify-content-end">
                        <a href="#" class="card-link text-danger like">
                            <i class="fas fa-heart"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">U Wiesia</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Gdańśk</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="options d-flex flex-fill">

                        </div>
                        <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                            <a href="#" class="btn btn-secondary mt-3">Więcej</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card shadow">
                    <img class="card-img" src="http://maxi-service.pl/wp-content/uploads/2016/10/mechanik-serwis-warsztat.jpg" alt="Vans">
                    <div class="card-img-overlay d-flex justify-content-end">
                        <a href="#" class="card-link text-danger like">
                            <i class="fas fa-heart"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">U Wiesia</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Gdańśk</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="options d-flex flex-fill">

                        </div>
                        <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                            <a href="#" class="btn btn-secondary mt-3">Więcej</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card shadow">
                    <img class="card-img" src="http://maxi-service.pl/wp-content/uploads/2016/10/mechanik-serwis-warsztat.jpg" alt="Vans">
                    <div class="card-img-overlay d-flex justify-content-end">
                        <a href="#" class="card-link text-danger like">
                            <i class="fas fa-heart"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">U Wiesia</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Gdańśk</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="options d-flex flex-fill">

                        </div>
                        <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                            <a href="#" class="btn btn-secondary mt-3">Więcej</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-primary text-white mb-0">
    <div class="container">
        <!-- About Section Heading-->
        <div class="row justify-content-center mb-5">
            <h2 class="page-section-heading d-inline-block text-white">PROJEKT</h2>
        </div>

        <br />
        <div class="row">
            <p class="mx-5 text-center">Celem projektu jest stworzenie systemu dla małych firm zajmujących się mechaniką samochodową pozwalający firmie na obsługę zleceń tzn. ich przyjmowanie, aktualizację czy pośredni kontakt z klientem. Klientowi zaś będzie pozwalał na zlecenie usługi, pośrednią interakcję z firmą oraz monitorowanie stanu usługi.</p>
        </div>

    </div>
</section>

<section class="page-section">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="row justify-content-center mb-5">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">ZESPÓŁ</h2>
        </div>

        <div class="mt-5 row">
            <div class="col-lg-6 text-center">
                <img class="mb-2 img-fluid rounded-circle" src="~/Content/img/sp.jpg" width="200px" />
                <h3>Stanisław Posmyk</h3>
                <p>Frontend</p>

            </div>
            <div class="col-lg-6 text-center">
                <img class="mb-2 img-fluid rounded-circle" src="~/Content/img/pk.jpg" width="200px"/>
                <h3>Patryk Kaszubowski</h3>
                <p>Backend</p>
            </div>
        </div>
    </div>
</section>

<section class="footer text-center">
    <div class="container mb-5">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4"></h4>

            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4"></h4>
            </div>
        </div>
    </div>
</section>
