<nav class="shd navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">

        @Html.ActionLink("MechApp", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})


        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto navbar-right">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="@Url.Action("Search", "Home")">
                        <i class="fas fa-search"></i>
                    </a>
                </li>


                @Html.Partial("_loginPartial")
            </ul>

        </div>
    </div>

</nav>