
@{
    ViewBag.Title = "NotFound";
    if (Session["LoginWorkshop"] != null)
    {

        Layout = "~/Views/Shared/_WorkshopLayout.cshtml";
    }
}
<div class="container navspace">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <h3 class="mb-3">
                        Coś poszło nie tak...
                    </h3>
                    <h4>
                        Przepraszamy, ale wyszukiwana przez Ciebie stora nie została odnaleziona :(
                    </h4>
                    <br/>
                    <div>@Html.ActionLink("Strona główna", "Index", "Home", null,new { @class = "btn btn-secondary font-weight-bold" })</div>
                </div>
            </div>
        </div>

    </div>
</div>

