@model MechAppProject.Models.AddEventModel

@{
    ViewBag.Title = "DisplayEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayEvent</h2>
<div>@Model.CustomerCar</div>
<div>@Model.ServiceDate</div>
<div>@Model.ServiceHours</div>
<div>@Model.WorkshopService</div>
